%h1= @title
%p.description= @description
- if @last_updated.nil?
  %p.last-updated
    No data?
    %a{href: '/update'} Let's go get some!
- else
  %p.last-updated
    Data last updated #{@last_updated.strftime('at %R on %A %-d %B %Y')}.
    Not fresh enough?
    %a{href: '/update'} Update it!
%table#medals
  %thead
    %tr
      %th Name
      %th Gold
      %th Silver
      %th Bronze
      %th Total
  %tbody
    - @nations.reverse_each do |nation|
      %tr{id: nation.code}
        %td.country_name= nation.name
        %td.gold=         nation.gold
        %td.silver=       nation.silver
        %td.bronze=       nation.bronze
        %td.total=        nation.total

